@import '../../.cache/wal/colors-waybar.css';

* {
  font-family: "JetbrainsMono Nerd Font";
  font-weight: bold;
	font-size: 16px;
  border-radius: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.empty #window {  
    background: transparent;
}

#workspaces {
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(0, 0, 0, 0.01);
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.2);
}

#window {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	color: #B5E8E0;
	background-color: rgba(0, 0, 0, 0.01);
}

#memory {
	padding-left: 10px;
  border-radius: 10px 0px 0px 10px;
	color: #F8BD96;
	background-color: rgba(0, 0, 0, 0.01);
}
#cpu {
	padding-left: 8px;
	padding-right: 10px;
  border-radius: 0px 10px 10px 0px;
	color: #ABE9B3;
	background-color: rgba(0, 0, 0, 0.01);
}

#backlight {
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #DDB6F2;
	background-color: rgba(0, 0, 0, 0.01);
}

#wireplumber {
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #96CDFB;
	background-color: rgba(0, 0, 0, 0.01);
}

#language {
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #B5E8E0;
	background-color: rgba(0, 0, 0, 0.01);
}

#battery {
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #F28FAD;
	background-color: rgba(0, 0, 0, 0.01);
}

#bluetooth {
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #C9CBFF;
	background-color: rgba(0, 0, 0, 0.01);
}

#network {
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #E8A2AF;
	background-color: rgba(0, 0, 0, 0.01);
}

#clock {
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
  color: #F2CDCD;
	background-color: rgba(0, 0, 0, 0.01);
}
