@import '../../.cache/wal/colors-waybar.css';

@define-color bar-bg rgba(0, 0, 0, 0.01);
@define-color main-bg rgba(0, 0, 0, 0.3);

* {
  font-family: "JetbrainsMono Nerd Font";
  font-weight: bold;
	font-size: 14px;
  border-radius: 10px;
  min-height: 0;
  min-width: 0;
}

window#waybar {
	background: @bar-bg;
  border-radius: 0px;
}

window#waybar.empty #window {  
   background: transparent;
   color: transparent;
}

tooltip {
  background: rgba(0, 0, 0, 0.5);
  color: @foreground;
}


#workspaces button {
  color: @color15;
  margin: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  animation: ws_normal 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.33, 1.0, 0.68, 1.0);
}

#workspaces button.active {
  background: @color6;
  color: @background;
  padding-left: 12px;
  padding-right: 12px;
}

#workspaces button:hover,
#workspaces button.urgent {
  background: @color4;
  color: @background;
}

#window {
  margin-left: 10px;
}

#memory {
  border-radius: 0px;
	color: #F8BD96;
}
#cpu {
  border-radius: 0px;
	color: #ABE9B3;
}

#backlight {
  border-radius: 0px;
	color: #DDB6F2;
}

#wireplumber {
  border-radius: 0px;
	color: #96CDFB;
}

#language {
  border-radius: 10px 0px 0px 10px;
	color: #B5E8E0;
}

#battery {
  border-radius: 0px;
	color: #F28FAD;
}

#bluetooth {
  border-radius: 0px;
	color: #C9CBFF;
}

#network {
  border-radius: 0px;
	color: #E8A2AF;
}

#clock {
	margin-right: 10px;
  border-radius: 0px 10px 10px 0px;
  color: #F2CDCD;
}

#backlight,
#network,
#wireplumber,
#language,
#bluetooth,
#clock,
#memory,
#battery,
#cpu,
#window,
#workspaces {
  background: @main-bg;
  color: @color15;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}
