@import "../../.cache/wal/colors-waybar.css";

* {
  font-size: 18px;
  font-family: "JetBrainsMono Nerd Font";
	border-radius: 10px;
}

window {
	background-color: rgba(0, 0, 0, 0);
}

button {
	color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  outline-style: none;
  border: none;
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}

button:hover,
button:focus {
  color: @color6;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: 40%;
}

#logout {
	background-image: image(url("icons/logout.png"));
}

#suspend {
	background-image: image(url("icons/suspend.png"));
}

#shutdown {
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	background-image: image(url("icons/reboot.png"));
}

#logout,
#suspend,
#shutdown,
#reboot {
  margin: 2px;
}
