@import '../../.cache/wal/colors-waybar.css';

* {
  font-size:18px;
  font-family: "JetBrainsMono Nerd Font";
	border-radius: 20px;
}

window {
	background-color: rgba(0, 0, 0, 0);
}

button {
	color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.2);
  outline-style: none;
  border: none;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:focus {
  background-color: rgba(0, 0, 0, 0.4);
  background-size: 25%;
}

#logout {
	margin: 3px;
	background-image: image(url("icons/logout.png"));
}

#suspend {
	margin: 3px;
	background-image: image(url("icons/suspend.png"));
}

#shutdown {
	margin: 3px;
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	margin: 3px;
	background-image: image(url("icons/reboot.png"));
}
